// Copyright © 2022 Olo Inc. All rights reserved.
// This software is made available under the Olo Pay SDK License (See LICENSE.md file)
//
//  Production.xcconfig
//  OloPaySDK
//
//  Created by Justin Anderson on 6/11/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

COMPLETE_OLO_PAY_PAYMENT = false
APPLE_PAY_BILLING_SCHEME_ID = 435
BASE_API_URL = https:\/\/ordering.api.olo.com\/v1.1
API_KEY =
RESTAURANT_ID = 161892
PRODUCT_ID = 39522120
PRODUCT_QTY = 2
MERCHANT_ID = merchant.com.olopaysdktestharness
COMPANY_LABEL = FoosBurgers
USER_EMAIL = demo+ron@olo.com
PRODUCTION_ENVIRONMENT = true
USE_LOGGED_IN_USER = false
SAVED_CARD_BILLING_ACCOUNT_ID = 0
USER_PASSWORD = 
