// Copyright © 2022 Olo Inc. All rights reserved.
// This software is made available under the Olo Pay SDK License (See LICENSE.md file)
//
//  Version.xcconfig
//  OloPaySDK
//
//  Created by Richard Dowdy on 6/5/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//THIS MUST BE UPDATED EVERY RELEASE FOR METADATA TO WORK PROPERLY
SDK_BUILD_VERSION = 3.0.0
